
	@import 'includes/helpers/_mixins';

	.error
	{
		padding: 2em;
		text-align: center;

		h1
		{
			margin: 0;
			font-size: 60px;
		}

		p
		{
			padding-bottom:2em;
			font-size: 20px;
			font-family: tahoma;
		}

		.btn { font-size: 18px; }

	}