/* 
    Document   : estrutura
    Created on : 01/12/2012, 16:52:01
    Author     : Tadeu
    Description:
        Purpose of the stylesheet follows.
*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: arial;
}

html, body{
    height: 100%;
}

body{
    height: 100%;
    background: #EEE;
    font-size: 13px;
}

a{
    text-decoration: none;
}

#corpo{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    padding-top: 50px;
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    border: 1px solid #CCC;
    box-shadow: 0 0 200px #DDD;
}

#logo{
    width: 200px;
    height: 100px;
    margin: 15px;
    background-image: url('../img/logo.png');
}

#menu{
    height: 40px;
    background: #000;
    border-bottom: 5px solid #bbe616;
}

#menu a{
    float: left;
    line-height: 40px;
    color: #FFF;
    text-transform: uppercase;
    padding: 0 20px;
}

#menu a:hover{
    border-bottom: 5px solid #85a217;
}





#loadding{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000000000;
    background-color: rgba(0,0,0, .8);
    background-image: url('img/loading.gif');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
    box-shadow: inset 0 0 900px #000;
}

#car{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    width: 100%;
    height: 50px;
    padding: 5px;
    z-index: 100000;

    background: #DDD;
    border-width: 0 2px 2px 2px;
    border-color: #CCC;
    border-style: solid;
    box-shadow: inset 0 0 30px #CCC;
    color: #999;
    position: fixed;
}

#recebe_itens{
    display: none;
    position: fixed;
    margin: 5px;
    padding: 5px;
    padding-bottom: 20px;
    border: 2px solid #000;
    border-radius: 0 0 10px 10px;
    background: #555;
    box-shadow: inset 0 0 50px #222;
    width: 300px;
    max-height: 200px;
    overflow: auto;
    cursor: default;
}

.item_delete{
    color: #ff3333;
    padding: 5px;
    cursor: pointer;
}

#recebe_itens::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    -webkit-border-radius: 16px;
}

#recebe_itens::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 5px;
}

#recebe_itens::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #FFF;
    -webkit-border-radius: 3px;
}

#recebe_itens::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #FFF;
    -webkit-border-radius: 3px;
}



#recebe_itens .recebe_itens_i{
    padding: 10px;
    padding-left: 55px;
    margin-left: 5px;
    border-bottom: 1px dotted #888;

    color: #CCC;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left center;
}

#recebe_itens .recebe_itens_i li{
    padding: 2px;
    margin: 2px;
    font-size: 12px;
}

#recebe_itens li li:nth-child(1){
    font-weight: bolder;
    color: #bbe616;
}

#car_title{
    cursor: pointer;
    line-height: 40px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #CCC;
}


#itens{
    padding: 10px;
}

#itens .itens_i{
    float: left;
    width: 200px;
    height: 200px;
    margin: 6px;
    background-color: #333;
    background-size: cover !important;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0, .2), inset 0 0 50px rgba(0,0,0, .3);
}

.itens_desc{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    display: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0,0,0, .8);
    color: #DDD;
}

.item_nome, .item_preco{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.item_preco{
    color: #888;
}

.item_adc{
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 6px 3px;
    background: #bbe616;
    color: rgba(0,0,0, .8);
    border: 1px solid rgba(187,230,22, 1), 1px solid rgba(187,230,0, 1), 1px solid rgba(187,230,22, 1), 1px solid rgba(187,230,0, 1);
    border-radius: 6px;
    box-shadow: inset 0 0 20px rgba(0,0,0, .4);
    margin: 5px;
    margin-top: 20px;
}