<table width="394" cellspacing="1" cellpadding="3" bordercolor="#000000" border="1" align="left" style="">
	<tbody style="">
	<tbody style="">
		<tr style="">
			<td width="398" bgcolor="#ffffff" style="">
				<table width="381" cellspacing="0" cellpadding="0" border="0" style="">
					<tbody style=""><tr style="">
						<td valign="middle" align="left" colspan="5" style="">
							<font size="2" face="" style="">
								<font face="" style="">
									<strong style="">Informações Nutricionais</strong>
									<br style="">
									Porção: 3,8g (4 cápsulas)
									<br style="">Conteúdo: 120 ou 240 cápsulas</font>
								</font>
							</td>
						</tr>
						<tr style="">
							<td height="3" bgcolor="#000000" colspan="5" style=""> </td>
						</tr>
						<tr style="">
							<td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
						</tr>
						<tr style="">
							<td width="4" height="9" style=""> </td>
							<td width="202" height="9" style="">
								<p align="center" style=""> </p>
								<br style="">
							</td>
							<td valign="middle" height="9" align="center" colspan="2" style="">
								<p align="center" style="">
									<font size="2" face="" style="">
										Quantidade<br style="">por porção
									</font>
								</p>
							</td>
							<td width="63" valign="middle" height="9" align="center" style="">
								<div align="center" style="">
									<font size="2" face="" style="">% IDR *</font>
								</div>
							</td>
						</tr>
						<tr style="">
							<td height="2" bgcolor="#000000" colspan="5" style=""> </td>
						</tr>
						<tr style="">
							<td valign="middle" height="16" align="left" colspan="2" style="">
								<font size="2" face="" style="">Vitaminas B6</font>
							</td>
							<td width="65" valign="middle" height="16" align="right" style="">
								<font size="2" face="" style="">1,3</font>
							</td>
							<td width="47" valign="middle" height="16" align="left" style="">
								<font size="2" face="" style="">mg</font>
							</td>
							<td width="63" height="16" align="right" style="">
								<div align="center" style="">
									<font size="2" face="" style="">100</font>
								</div>
							</td>
						</tr>
						<tr style="">
							<td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
						</tr><tr style="">
						<td valign="middle" height="16" align="left" colspan="2" style="">
							<font size="2" face="" style="">Leucina </font>
						</td>
						<td width="65" valign="middle" height="16" align="right" style="">
							<font size="2" face="" style="">1360</font>
						</td>
						<td width="47" valign="middle" height="16" align="left" style="">
							<font size="2" face="" style="">mg</font>
						</td>
						<td width="63" height="16" align="right" style="">
							<div align="center" style="">
								<font size="2" face="" style="">100</font>
							</div>
						</td>
					</tr>
					<tr style="">
						<td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
					</tr><tr style="">
					<td valign="middle" height="16" align="left" colspan="2" style="">
						<font size="2" face="" style="">Isoleucina</font>
					</td>
					<td width="65" valign="middle" height="16" align="right" style="">
						<font size="2" face="" style="">973</font>
					</td>
					<td width="47" valign="middle" height="16" align="left" style="">
						<font size="2" face="" style="">mg</font>
					</td>
					<td width="63" height="16" align="right" style="">
						<div align="center" style="">
							<font size="2" face="" style="">100</font>
						</div>
					</td>
				</tr>
				<tr style="">
					<td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
				</tr>

				<tr style="">
					<td valign="middle" height="16" align="left" colspan="2" style="">
						<font size="2" face="" style="">Valina</font>
					</td>
					<td width="65" valign="middle" height="16" align="right" style="">
						<font size="2" face="" style="">973</font>
					</td>
					<td width="47" valign="middle" height="16" align="left" style="">
						<font size="2" face="" style="">mg</font>
					</td>
					<td width="63" height="16" align="right" style="">
						<div align="center" style="">
							<font size="2" face="" style="">100</font>
						</div>
					</td>
				</tr>
						<tr style="">
							<td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
						</tr>
						<tr style="">
							<td height="2" bgcolor="#000000" colspan="5" style=""> </td>
						</tr>
						<tr style="">
							<td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
						</tr>
						<tr style="">
						<td colspan="5" style="">
							<font size="2" face="" style="">* Não contém quantidades de valor energético, carboidratos proteínas, gorduras totais, gorduras trans, fibras alimentar e sódio.% Ingestçao diária recomendada para adultos.
							</font>
						</td>
					</tr>
						<tr style="">
							<td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
						</tr>
						<tr style="">
							<td colspan="5" style="">
								<font size="2" face="" style="">
									<font face="" style="">
										<strong style="">Ingredientes: </strong>Leucina, Isoleucina, Valina, Vitamina B6 e diôxido de silício (antiumectante).Não Contém Glúten
									</font>
								</font>
							</td>
						</tr>
						<tr style=""><td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
						</tr>
						<tr style="">
							<td colspan="5" style="">
								<font size="2" face="" style="">
									<font face="" style="">
										<strong style="">Sugestão de Uso: </strong>Consumir 4 cápsulas ao dia, sendo 2 antes e 2 logo após o treino ou conforme orientação profissional.
									</font>
								</font>
							</td>
					</tr>
					<tr style="">
						<td height="1" bgcolor="#dcdcdc" colspan="5" style=""> </td>
					</tr>
					<tr style="">
						<td colspan="5" style="">
							<font size="2" face="" style="">
								<font face="" style="">
									<strong style="">Recomendação:</strong> Crianças, gestantes, idosos e portadores de qualquer enfermidade, consultem médico e/ou nutricionista. Consumir este produto conforme a Recomendação de Ingestão Diária constante da embalagem.
								</font>
							</font>
						</td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>