*{
    padding:0;
    margin:0;
    list-style:none;
    font-family: tahoma, verdana, arial, sans-serif;
}

img{
    border:0;
}

html,body{
    height:100%;
}

body{
    background: #EDEDED;
    min-height: 100%;
    
}



#template{
    
}
