RewriteEngine on

ErrorDocument 404 /404.php

php_value post_max_size 20M
php_value max_file_uploads  10000000000
php_value max_input_vars 1000000000
php_value upload_max_filesize 20M
php_value memory_limit 512M
php_value max_execution_time 600