*{
	font-family: tahoma;
	font-size:15px;
}

html,body{
	height: 100%;
}

.box-sizing{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

input{
	width: 100%;
	padding: 10px;
	border:0;
	display: block;
}

input:focus{
	outline: none;
}